*{

  text-align:center;
  font-size: 20px;
  font-weight:bold;
}
ol {
  display:inline-block;
}
.label {
  font-weight: bold;
}
img {
  width: 280px;
  height: 270px;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
body{
  background-color: teal;
}